[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gensim = "*"
pylint = "*"
tqdm = "*"
numpy = "*"
scikit-learn = "0.22.2.post1"
mecab-python3 = "*"
flask = "*"

[requires]
python_version = "3.8"
